<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>

            <div><h2>Code Type</h2><span><h3>Add</h3></span></div>


            <form th:object="${codeType}" action="notused.html" th:action="@{/codes/codeTypeEditSubmit.html}" method="get" class="form-horizontal">

                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Description</th>
                            <td><input type="text" name="englishDescription" th:value="${codeType.englishDescription}"/> 
                                <ul th:if="${#fields.hasErrors('englishDescription')}">
                                    <li class="error" th:each="err : ${#fields.errors('englishDescription')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Enter</button>
                    </div>

                </fieldset>
            </form>

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
